@charset "UTF-8";
.tab{
	width: 800px;
	height: 900px;
	background-color: beige;
	margin: 70px;
	
}

.title{
	height: 10%;
	text-align: center;
}
.writer{
	height: 5%;
	text-align: center;	
}
.writer1{
	text-align: left;
}
.center{
	
	text-align: left;
}
.content{

	
}
.date{
	width: 20%
	
}
.dw{
	width: 400px;
	height: 50%;
	
}
.edde{
	height: 100px;
	text-align: center;
}
.edde1{
	width: 400px;	
}
.edde2{
	width: 400px;
	
}
.commentsList{
	width: 500px;
}
.commentBox{
	width: 800px;
}
#commenttextarea{
	width: 500px;
	
}
