@charset "UTF-8";
.login{
	width : auto;
	text-align: right;
	
}
.logout{
	width : auto;
	text-align: right;
}
.logoutt{
	width: auto;
	text-align: right;
}
body{
margin: 0;
padding: 0;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: skyblue;
	height: 50px;
}
nav ul{
	margin: 0;
	padding: 0;
	
}
nav li{
	list-style: none; /* li앞에 원을 없애줍니다*/
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
nav li:hover {
	background-color: purple;
	color : white;
}
.mmain{
	width: 50px;
	height: 50px;
	
}
.bboard{
	width: 100px;
	height: 50px;
}
.mmain:hover {

	
}
.happy{
	height: 50px;
	width: 70px;
	text-align: right;
}
.goon{
	height: 50px;
	width: 70px;
}
.goon:hover{
	background-color: white;
	background-image: url("/src/main/webapp/resources/img/goon2.png");
}
